body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

.header {
  background: var(--dark-banner-gradient);
  border-style: none none solid none;
  border-width: 5px;
  border-color: var(--color-);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 120rem;
  height: 7.5rem;
  margin: 0 auto;
  padding: 0 var(--spacing-6);
  background: var(--dark-banner-gradient);
}

.nav__links {
  align-items: baseline;
}
