@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

a {
  text-decoration: none;
}

.nav-text {
  color: var(--color-white);
  font-size: var(--font-size-base);
  font-weight: 500;
}

h1 {
  color: var(--color-white);
  font-size: var(--font-size-header);
  line-height: 85%;
  text-transform: uppercase;
  font-optical-sizing: auto;
  font-variation-settings: "wght" 800, "wdth" 78, "opsz" 96;
  letter-spacing: -0.2rem;
  text-align: center;
  text-shadow: 4px 4px 0 var(--color-black), 6px 6px 0 var(--color-purple-mid),
    0 21px 21px #201a2bbe;
  /* padding: var(--spacing-7) 0; */
}

.--green-text {
  color: var(--color-teal-light);
}

.sub-hero-text {
  color: var(--color-white);
  font-size: var(--font-size-lg);
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
  max-width: 80rem;
  letter-spacing: -0.1rem;
  text-shadow: 0 12px 21px #201a2bbe;
}

.bookings-text {
  color: var(--color-white);
  font-size: var(--font-size-base);
  font-weight: 500;
  font-style: italic;
}
